[Desktop Entry]
Name=Advanced Photo
Comment=Advanced Photo View & Rotate & Flip & Resize Photos
Version=1.5.5
Type=Application
GenericName=Photo Viewer
Exec=AdvancedPhoto %f
Icon=AdvancedPhoto.png
StartupNotify=true
Terminal=false
NoDisplay=false
Categories=Graphics;Viewer;
MimeType=image/png;image/jpg;image/jpeg;image/bmp;image/tiff;image/webp;image/gif;image/x-bmp;image/x-ico;image/x-png;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/x-pcx;image/svg+xml;image/svg+xml-compressed;image/vnd.wap.wbmp;image/dds;image/xpm;image/pnm;image/ppm;image/pgm;image/wbmp;image/xbm;image/pbm;image/ico;image/icns;image/cur;
