Package: advanced-photo
Version: 1.5.5
Architecture: amd64
Installed-Size: 50
Section: graphics
Priority: optional
maintainer: ARASHz4 <advancedphoto@arashz4.com>
Homepage: http://arashz4.github.io/Advanced_Photo/
Description: Advanced Photo View & Rotate & Flip & Resize Photos
