<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Advanced Photo</string>
	<key>CFBundleVersion</key>
        <string>1.5.0</string>
	<key>CFBundleShortVersionString</key>
        <string>1.5</string>
	<key>CFBundleIdentifier</key>
        <string>arashz4AdvancedPhoto</string>
	<key>CFBundleDisplayName</key>
	<string>Advanced Photo</string>
	<key>CFBundleExecutable</key>
	<string>Advanced Photo</string>
	<key>CFBundleIconFile</key>
	<string>APIcon.icns</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>CFBundleGetInfoString</key>
        <string>Advanced Photo 1.5.0, © 2014 - 2015 ARASHz4</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>JPEG Image</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/jpeg</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpg</string>
				<string>JPG</string>
				<string>jpeg</string>
				<string>JPEG</string>
				<string>jpe</string>
				<string>JPE</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>APIFile.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Portable Network Graphics Image</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/png</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>PNG</string>
				<string>png</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>APIFile.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Windows Bitmap Image</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/bmp</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bmp</string>
				<string>BMP</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>APIFile.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Tagged Image File Format</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/tif</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tif</string>
				<string>tiff</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>APIFile.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Graphics Interchange Format Image</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/gif</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gif</string>
				<string>GIF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>APIFile.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Windows Icon Image</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>icon/ico</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ico</string>
				<string>ICO</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>APIFile.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Apple Icon Image</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>icon/icns</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>icns</string>
				<string>ICNS</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>APIFile.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>WebP</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/webp</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>WEBP</string>
				<string>webp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>APIFile.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>JPEG 2000</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/jp2</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>JP2</string>
				<string>jp2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>APIFile.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>DirectDraw Surface</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/dds</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>DDS</string>
				<string>dds</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>APIFile.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>X11 Pixmap</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/xpm</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>XPM</string>
				<string>xpm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>APIFile.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Netpbm format</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/pnm</string>
				<string>image/ppm</string>
				<string>image/pgm</string>
				<string>image/pbm</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>PNM</string>
				<string>pnm</string>
				<string>PPM</string>
				<string>ppm</string>
				<string>PGM</string>
				<string>pgm</string>
				<string>PBM</string>
				<string>pbm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>APIFile.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Wireless Application Protocol Bitmap Format</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/wbmp</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>WBMP</string>
				<string>wbmp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>APIFile.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>X11 Bitmap</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/xbm</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>XBM</string>
				<string>xbm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>APIFile.icns</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
</dict>
</plist>
